#body {
  display: flex;
  flex-direction: row;
  justify-content: center; /* Centers vertically */
  align-items: center; /* Centers horizontally */
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  margin: 0;
  position: relative;
  overflow: hidden;
  background-color: white; /* Or any color you prefer */
  text-align: center;
  background-image: url("../images/background.jpg"); /* Adjust path as necessary */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.card-container {
  display: flex;
  flex-direction: row; /* Aligns cards in a row */
  justify-content: center; /* Centers cards horizontally */
  align-items: center; /* Aligns cards vertically if needed */
  flex-wrap: wrap; /* Allows cards to wrap if screen width is too small */
}

.card {
  margin: 10px;
  padding: 20px;
  border: 1px solid black; /* Border around cards */
  border-radius: 5px;
  background-color: #f4f4f4; /* Card background color */
  color: black; /* Text color */
}

.card:hover {
  background-color: white;
  color: black;
  border-color: #007bff; /* Example hover effect */
}
