#page {

  .right-container {
    padding-right: 10px;

    & > * {
      padding-right: 10px;
    }
  }

  .left-container {
    border-right: 1px solid #e0e0e0;
  }

  .item-spacing {
    margin-bottom: 2vh;
  }
}
