.list-group-item {
  padding: 10px 15px;
  text-align: center;
  border: 2px solid white;
  border-radius: 0;
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    background-color: #f5f5f5;
  }
  &.active {
    background-color: #f5f5f5;
  }
}

.sidebar-layout {
  display: flex;
}

.sidebar {
  /* Style your sidebar */
  width: 30vh;
  height: 100vh;
  border-right: 1px solid black;
}

